.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
body{
    background-color: #FFEDDC !important;
}
.card-header {
    background-color: #8A450A !important;
}
.btn-primary{
    background-color: #8A450A !important;
    --bs-btn-border-color: #8A450A !important;
}