@import url('https://fonts.googleapis.com/css2?family=Galada&family=Italianno&family=Josefin+Slab&display=swap');


body{
    font-family: 'Josefin Slab', serif;
    background-size: cover;
    background: transparent;
    width: 100%;
    height: 100VH;
    display: flex;
    align-items: center;
    flex-direction: column;
}
   

#slide{
    margin-top: -230px;
    width: 100%;
   
    margin: 0 auto; 
    
}

#slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1; /* Certifica-se de que a sobreposição está acima do conteúdo */
}

.carousel-control-prev, .carousel-control-next {
    display: flex;
}
body > :not(header) span {
    /* Estilos para os spans que não estão dentro de headers */
    
    background-color: #8C3F23 !important;
    border-radius: 30%;
}

#corpo {
    width: 100%;
    position: relative;
}
  
#container {
    
    border-radius: 50px 50px 0 0;
    margin-top: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

.produto{
    position: relative;
    top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container h1{
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #7C573E; /* cor da borda */
    color: white;
    font-family: 'Galada', cursive;
    font-size: 5em;
    text-shadow: 0.05em 0.05em 0em #7C573E,
                0.10em 0.10em 0em #FFFFFF ;
}

#prod-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.product img {
    width: 50%;
    height: auto;
}

.product button {
    width: 120px;
    height: auto;
    border-radius: 30px;
    background-color: #00643C;
    color: white;
}

.product p, .product h3 {
    color: rgb(59, 54, 45);
}

.product h3 {
    font-size: 1.7em;
    text-shadow: 0.05em 0.05em 0.05em #333;
}

.cinza{
    background-color: rgb(181, 181, 181);
}

.cinza {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px 20px 10px 20px;
    padding: 25px;
    background-color: rgba(205, 96, 24, 0.296);
}

.cinza img {
    width: 200px;
    height: auto;
}

.card-body h2 {
    color: #7C573E;
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #7C573E !important;
    --bs-btn-border-color: #7C573E !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #3b2516 !important;
    --bs-btn-hover-border-color: #3b2516 !important;
}

.cardzada{
    box-shadow: var(--bs-box-shadow)!important;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}



.confira{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary {
    --bs-btn-color: #7C573E !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #7C573E !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #3b2516 !important;
    --bs-btn-hover-border-color: #3b2516 !important;
}

.shadow-sm{
    --bs-box-shadow-sm: 0.1rem 0.1rem 0rem rgb(124 87 62);
};

.card-body{
    padding: 0;
}

.shadow{
    max-height: 700px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.texto h1{
    line-height: 1.2;
}

.preco p{
    color: #7C573E;
    
}

.preco{
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preco h3{
    margin-bottom: 0;
    color: white;
    font-size: 5em;
    text-shadow: -1px -1px 0 #7C573E, 1px -1px 0 #7C573E, -1px 1px 0 #7C573E, 1px 1px 0 #7C573E, 0.03em 0.03em 0em #7C573E;
              
}
   

.imagem{
    position: relative;
    top: 50px;
}




.tudo{
    position: relative;
    top: -30rem;
}


.embaixo{
    position: relative;
    top: -47rem;
}

.produto-descricao{
    display: flex;
    flex-direction:row;
    
}

.produto-descricao a{
    margin: 0px 0 0 30px;
}


.texts{
    height: 60rem;
}

#floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#cart-btn {
    padding: 10px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.8em;
}

.cart-panel {
    display: none;
    position: absolute;
    top: -210px; /* Ajuste este valor baseado no tamanho do painel */
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
}

.cart-panel.active {
    display: block;
}

.cart-footer {
    text-align: center;
    padding-top: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


#related-products{
    position: relative;
    top: -40rem;
}

#prod-cafe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; /* Distribui os cards igualmente na largura */
    margin: 0 auto;
}

.product-card .card {
    max-height: 700px;
    overflow: hidden;
}

.product-card .card-title,
.product-card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 768px) {
    h1.custom-highlight {
        font-size: 4em;
        margin-bottom: 10px;
    }
}



@media screen and (min-width: 768px) {
    #prod-cafe {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;
    }

    .product {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

  }